.projectsSection {
  padding-block: 72px 144px;

  h2 {
    margin-block: 8px 56px;
  }

  .projectsSection__projects {
    width: 1040px;

    figure {
      background-color: var(--gray-300);
      padding: 16px;
      border-radius: 12px;
      transition: .2s;
      cursor: pointer;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid white;
      }

      img {
        width: 306px;
        height: 156px;
        object-fit: cover;
        border-radius: 8px;
      }

      figcaption h3 {
        margin-block: 15px;
      }

    }

  }
}